# Ignore compiled Python files
__pycache__/

# Ignore virtual environment
py3env/

# Ignore editor-specific files
*.swp
.vscode/

# Ignore .env file
.env

# Ignore node modules
node_modules
package-lock.json
.vercel
